### WebStorm ###
.idea

### dotenv ###
.env

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
build

# Folder with pictures
uploads

*.sublime*

psd
thumb
sketch
